{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


<h2 class="text-navy title-2 pb-16 pt-4">Upcoming Events</h2>

{% for event in page.events %}
    <div class="">
        <div class="sm:flex justify-between mb-2 relative">
            
                <h2 class="font-bold font-serif text-xl sm:text-2xl text-navy">{{ event.title }}</h2>
            </a>
            <h2 class="font-bold font-serif text-xl sm:text-2xl text-navy opacity-[0.8] mb-2 sm:mb-0">{{ event.date|date:'D, M d' }} at {{ event.time }}</h2>
        </div>
        <div class="text-lg pt-4 pb-1">{{ event.description|richtext }}</div> 
        
        <a href="{{ event.associated_page }}">
            <div class="text-lg font-bold">Learn more →</div>
        </a>
        <hr class="my-10 border-[.07rem] border-navy">
    </div>
{% endfor %}
