{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
    <section class="standard-space">
        <div class="max-w-screen-md mx-auto">
            <div class="pb-12">
                <h1 class="text-navy title-1">{{ page.get_type_display}} - {{ page.title }}</h1>
            </div>
            <div class="body-text-1 pb-12">{{ page.description|richtext }}</div>
            <div>
                {% for item in page.get_children.specific.all %}
                    <div>
                        <h2 class="title-3">{{ item.date|date:'M d' }} at {{ item.time }}</h2>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </section>
{% endblock %}