{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
    <section class="standard-space">
        <div class="mx-auto">
            <div class="ml-[8rem] flex items-start justify-center ">
            
                <div class="max-w-screen-sm pr-16">
                    {% include 'home/_partials/events.html' %}
                </div>
                <div class="pt-[1.75rem]">
                    <h2 class="title-4 font-bold text-navy pb-6">Filter</h2>
    
                    <div class="min-w-[10rem]">
                        <div>
                            <div class="flex items-center mb-1">
                                <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">
    
                                </div>
                                <h2 class="text-sm font-bold">
                                    Undergrads
                                </h2>
                            </div>
                            <div class="flex items-center mb-1">
                                <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">
    
                                </div>
                                <h2 class="text-sm font-bold">
                                    Grad Students
                                </h2>
                            </div>
                            <div class="flex items-center mb-1">
                                <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">
    
                                </div>
                                <h2 class="text-sm font-bold">
                                    Faculty
                                </h2>
                            </div>
                            <div class="flex items-center mb-1">
                                <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">
    
                                </div>
                                <h2 class="text-sm font-bold">
                                    Friends
                                </h2>
                            </div>
                        </div>

                        <hr class="border-navy border-[.1rem] my-4">

                        <div class="flex items-center mb-1">
                            <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">

                            </div>
                            <h2 class="text-sm font-bold">
                                Short Courses
                            </h2>
                        </div>
                        <div class="flex items-center mb-1">
                            <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">

                            </div>
                            <h2 class="text-sm font-bold">
                                Reading Groups
                            </h2>
                        </div>
                        <div class="flex items-center mb-1">
                            <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">

                            </div>
                            <h2 class="text-sm font-bold">
                                Other Events
                            </h2>
                        </div>
    
                        <hr class="border-navy border-[.1rem] my-4">
    
                        <div>
                            <div class="flex items-center mb-1">
                                <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">
    
                                </div>
                                <h2 class="text-sm font-bold">
                                    Monday
                                </h2>
                            </div>
                            <div class="flex items-center mb-1">
                                <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">
    
                                </div>
                                <h2 class="text-sm font-bold">
                                    Tuesday
                                </h2>
                            </div>
                            <div class="flex items-center mb-1">
                                <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">
    
                                </div>
                                <h2 class="text-sm font-bold">
                                    Wednesday
                                </h2>
                            </div>
                            <div class="flex items-center mb-1">
                                <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">
    
                                </div>
                                <h2 class="text-sm font-bold">
                                    Thursday
                                </h2>
                            </div>
                            <div class="flex items-center mb-1">
                                <div class="w-[1rem] h-[1rem] border-2 border-navy rounded-full mr-2">
    
                                </div>
                                <h2 class="text-sm font-bold">
                                    Friday
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>
{% endblock %}