{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load replace %}


{% block content %}
    <section class="w-full">  
        {% image page.cover_image width-2500 as ci %}
        <div class="relative w-full h-screen sm:min-h-[60rem] overflow-hidden">
            <div class="w-full h-full bg-cover bg-center sm:bg-top pt-[5rem]" style="background-image: url('{{ ci.url }}');">
                <div class="w-full h-full px-4 sm:px-10 pb-[7rem]">
                    <div class="relative z-[60] pt-10 sm:pt-6 sm:pb-6 pr-10 mt-[2rem] sm:mt-[6rem] overflow-visible">
                        <div class="lg:max-w-[90%] xl:max-w-[80%] xxl:max-w-screen-2xl mx-auto">
                            <h1 class="relative z-[70] pb-6 text-white title-1 xl:text-7xl"><span class="">{{ page.banner_title_text|replace:"Christian;Christian<br class='hidden sm:block'>"|richtext }}</span></h1>
                            <button class="relative z-[70]">
                                <a href="{{ page.banner_button_link }}">
                                    <div class="whitebutton">
                                        {{ page.banner_button_text }} 
                                    </div>
                                </a>
                            </button>
                        </div>
                        <div class="absolute bottom-[-5rem] sm:bottom-[-5rem] 2xl:bottom-[-8vw] left-[-3rem] right-[-3rem]">
                            <img class="relative w-full opacity-[0.9] " src="{% static 'blue_wave.svg' %}" alt="">
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section>
        <div class="section-wrapper w-full bg-navy">
            <div class="max-w-screen-2xl mx-auto">
                <div class="mb-10 lg:mb-20">
                    <h2 class="title-1 sm:text-center text-white max-w-[75rem] mx-auto">{{ page.we_believe_title_text|replace:'abundant life.;<span class="text-rose">abundant life.</span>'|richtext }}</h2>
                </div>
                <div class="w-full flex justify-center mb-16 sm:mb-0 relative">
                    {% image page.we_believe_feature_image width-2000 as b2i %}
                    <div class="relative px-4 w-full lg:w-11/12 sm:px-10">
                        <img data-aos="zoom-in-right" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="relative z-10" src="{{ b2i.url }}" alt="">
                        <div class="absolute inset-x-4 sm:inset-x-10 inset-y-0 bg-olive z-0 translate-x-[-1rem] translate-y-[1rem]"></div>
                    </div>
                </div>

                <div class="flex justify-center">
                    <div class="sm:text-center w-full sm:pt-24 sm:w-10/12">
                        <div class="pb-6 text-white text-xl sm:text-2xl">
                            {{ page.we_believe_description_text|richtext }}
                        </div>
                        <button class="">
                            <a href="{{ page.we_believe_button_link }}">
                                <div class="whitebutton">
                                    {{ page.we_believe_button_text }}
                                </div>  
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="bg-white">
            <div class="relative sm:flex">
                <div class="w-full sm:w-1/2 lg:w-[45%] section-wrapper overflow-hidden">
                    <div id="b3textcontainer" class="2xl:max-w-[50rem] mx-auto">
                        <h1 class="pb-20 title-2 text-navy">{{ page.what_we_do_header }}</h1>

                        {% for item in page.what_we_do %}
                            <div class="px-2 pb-20 sm:pb-40">
                                <div class="pb-10 title-3 text-burgundy">
                                    {{ item.value.title }}
                                </div>
                                <div class="pb-4 sm:pb-6 text-navy body-text-1">{{ item.value.description|richtext }}</div>
                                <button>
                                    <a href="{{ item.value.button_link|richtext }}">
                                        <div class="burgundybutton">
                                            {{ item.value.button_text|richtext }}
                                        </div>  
                                    </a>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="b3imagecontainer" class="hidden sm:block absolute top-0 right-0 bottom-0 w-1/2 lg:w-[55%] overflow-hidden">
                    {% image page.what_we_do_feature_image width-3000 as b3i %}
                    <div id="b3imagesubcontainer" class="absolute top-0 right-0 w-full h-[100vh] bg-center bg-cover" style="background-image: url('{{ b3i.url }}');"></div>
                    <div class="absolute top-0 right-0 bottom-0 left-0  z-[500] bg-navy opacity-[0.5]"></div>
                    <div class="absolute top-0 right-0 bottom-0 left-0  z-[-500] bg-navy"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="w-full bg-navy section-wrapper">
            <div class="relative flex pb-10 max-w-[62rem] mb-10 mx-auto">
                <h1 class="text-white title-2">{{ page.what_we_offer_heading }}</h1>
            </div>
            <div class="">
                {% for block in page.offerings %}
                    <div class="lg:flex items-center justify-center pb-10">
                        <div class="hidden lg:block">
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="w-[20rem] lg:w-[25rem] px-4">
                                    {% image block.value.photo width-800 as bph %}
                                    <div data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="w-[20rem] h-[20rem] lg:w-[25rem] lg:h-[25rem] bg-cover bg-center rounded-full" style="background-image: url('{{ bph.url }}');"></div>
                                </div>
                            {% endif %}
                        </div>
                        <div data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="sm:flex rounded-lg overflow-hidden bg-rose lg:bg-transparent">
                            <div class="lg:hidden">
                                <div class="flex justify-center h-full">
                                    {% image block.value.photo width-1200 as bph %}
                                    <div class="w-full h-[25rem] bg-cover bg-center sm:h-full sm:w-[15rem] md:w-[20rem] lg:h-auto" style="background-image: url('{{ bph.url }}');"></div>
                                </div>
                            </div>     
                            <div class="py-10 md:py-14 lg:pt-16 lg:pb-10 px-4 md:px-10 lg:max-w-[40rem] {% if not forloop.counter0|divisibleby:"2" %}lg:text-right{% endif %}">
                                <h1 class="pb-6 text-navy lg:text-rose title-3">{{ block.value.title }}</h1>
                                <div class="pb-6 text-navy lg:text-white body-text-1">{{ block.value.description }}</div>
    
                                <button>
                                    <a href="{{ block.value.button_link }}">
                                        <div class="navybutton lg:whitebutton">
                                            {{ block.value.button_text }}
                                        </div>  
                                    </a>
                                </button>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            {% if not forloop.counter0|divisibleby:"2" %}
                            <div class="w-[20rem] lg:w-[25rem] px-4">
                                {% image block.value.photo width-800 as bph %}
                                <div data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="w-[20rem] h-[20rem] lg:w-[25rem] lg:h-[25rem] bg-cover bg-center rounded-full" style="background-image: url('{{ bph.url }}');"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <section class="bg-navy">
        <div class="bg-navy section-wrapper">
            <h1 class="pb-10 text-right text-rose title-2">{{ page.slides_header_text }}</h1>
        </div>
        <div class="w-full h-[35rem] sm:h-[50rem] bg-navy relative">
            <div class="main-carousel w-full h-[35rem] sm:h-[50rem] px-2">
                {% for block in page.houseSlides %}
                    {% with l1=forloop.counter0|add:"-1" l2=forloop.counter0|add:"-2" l3=forloop.counter0|add:"-3" l4=forloop.counter0|add:"-4" %}
                        {% image block.value width-2000 as bph %}
                        <div class="carousel-cell w-1/2 sm:w-1/3 xl:w-1/4 h-[35rem] sm:h-[50rem] p-2 sm:rounded-lg mb-[5rem] rounded-lg" >
                            <div class="w-full h-full sm:rounded-lg bg-cover bg-center 
                            {% if forloop.counter0|divisibleby:"5" %} 
                                translate-y-[5rem] 
                            {% elif l1|divisibleby:"5" %} 
                                translate-y-[1rem] 
                            {% elif l2|divisibleby:"5" %} 
                                translate-y-[3.5rem] 
                            {% elif l3|divisibleby:"5" %} 
                                translate-y-[0rem] 
                            {% elif l4|divisibleby:"5" %} 
                                translate-y-[2.5rem] 
                            {% endif %}" 
                            style="background-image: url('{{ bph.url }}');">
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="bg-navy pt-[10rem] ">
        {% include 'home/_partials/map.html' %}
    </div>
    
    {% if page.events|length %}
        <section>
            <div class="w-full bg-white section-wrapper">
                <div class="w-full mx-auto sm:w-10/12 lg:w-2/3 max-w-screen-md">
                    {% include 'home/_partials/events.html' %}

                    <a href="/events">
                        <h2 class="text-center sm:text-left text-navy font-serif text-2xl font-bold pb-10">See all events →</h2>
                    </a>
                </div>
            </div>
        </section>
    {% endif %}
    
{% endblock content %}

{% block extra_js %}
    <script>
        var elem = document.querySelector('.main-carousel');
        var flkty = new Flickity( elem, {
            // options
            cellAlign: 'left',
            contain: true,
            autoPlay: 2000,
            wrapAround: true,
            lazyLoad: true,
            draggable: false,
            prevNextButtons: false,
            pageDots: false,
            pauseAutoPlayOnHover: false,
        });
    </script>

    <script>
        var elem = document.getElementById('b3imagesubcontainer');
        var textelem = document.getElementById('b3textcontainer');

        document.addEventListener('scroll',calculatePostions)
        document.addEventListener('resize',calculatePostions)

        function calculatePostions() {

            const p = textelem.getBoundingClientRect();

            var h0 = window.innerHeight;
            var h1 = p.top - 56;
            var h2 = p.bottom - h0 + 56;

            // middle
            if ((h1 <= 0) & (h2 > 0)) {
                elem.classList.remove("absolute","w-full","bottom-0");
                elem.classList.add("fixed","w-1/2","lg:w-[55%]","top-0");
            } else if (h2 <= 0) {
                elem.classList.add("absolute","w-full","bottom-0");
                elem.classList.remove("fixed","w-1/2","lg:w-[55%]","top-0");
            } else if (h1 > 0) {
                elem.classList.add("absolute","w-full");
                elem.classList.remove("fixed","w-1/2","lg:w-[55%]");
            }
        }
    </script>
{% endblock %}