{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


{% block content %}
    <section>  
        {% image page.cover_image width-2500 as ci %}
        <div class="relative w-full h-screen">
            <div class="relative overflow-hidden w-full h-full bg-cover bg-top mt-[5rem]" style="background-image: url('{{ ci.url }}');">
                <div class="relative w-full h-full px-6 sm:px-10 pb-[7rem]">
                    <div class="relative z-[60] sm:pl-[5rem] sm:ml-[-5rem] py-6 pr-10 mt-[10rem]">
                        <h1 class="title-1 relative w-full sm:w-auto z-10 text-white pb-6"><span class="">A Home for Christian <br> Life and Learning </span></h1>
                        <button class="relative">
                            <a href="">
                                <div class="whitebutton">
                                    Lorem ipsum 
                                </div>  
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="absolute z-[50] opacity-[0.85] h-[60rem] w-[60rem] top-[-20rem] left-[-20rem] bg-navy rounded-full"></div>
        </div>
    </section>

    <section>
        <div class="w-full bg-navy p-6 sm:p-10">
            <div class="py-10 flex">
                <div class="w-1/2">
                    {% image page.banner_2_feature_image width-2000 as b2i %}
                    <div class="relative px-10">
                        <img class="relative z-10" src="{{ b2i.url }}" alt="">
                        <div class="absolute inset-x-10 inset-y-0 bg-rose z-0 translate-x-[-1rem] translate-y-[1rem]"></div>
                    </div>
                </div>

                <div class="w-1/2">
                    <h1 class="text-5xl text-white font-bold font-serif italic pb-6">We believe that Christian intellectual exploration & imagination yield <span class="text-rose">abundant life.</span></h1>
                    <p class="body-text-1 pb-6 text-white">
                        Cras quis felis vel nulla ultricies elementum sed et justo. Vestibulum at dolor quis lorem ut lectus eleifend aliquet. Pellentesque vitae elit rutrum felis vel nulla ultricies elementum sed et justo. Vestibulum at dolor quis lorem mattis dapibus sed nec sapien. Etiam luctus ut lectus eleifend aliquet. Pellentesque vitae elit rutrum.
                    </p>
                    <button>
                        <a href="">
                            <div class="whitebutton">
                                About us
                            </div>  
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="bg-white">
            <div class="relative sm:flex">
                <div class="w-1/2 lg:w-[45%] p-6 md:p-10 overflow-hidden">
                    <div id="b3textcontainer" class="">
                        <h1 class="title-2 text-navy pt-10 pb-20">We help Duke students and faculty:</h1>

                        <div class="pb-40 px-2">
                            <div class="title-3 text-burgundy pb-10">
                                Think Christianly
                            </div>
                            <p class="text-navy tbody-text-1 ext-lg lg pb-6">Cras quis vel nulla ultricies elementum sed et justo. Vestibulum at dolor quis lorem ut lectus eleifend aliquet. Pellentesque vitae elit rutrum felis vel nulla ultricies elementum sed et justo. Vestibulum at dolor quis lorem mattis dapibus sed nec sapien. Etiam luctus ut lectus eleifend aliquet. Pellentesque vitae elit rutrum.</p>
                            <button>
                                <a href="">
                                    <div class="burgundybutton">
                                        Cras quis vel
                                    </div>  
                                </a>
                            </button>
                        </div>
            
                        <div class="pb-40 px-2">
                            <div class="title-3 text-burgundy pb-10">
                                Build Community
                            </div>
                            <p class="body-text-1 text-navy pb-6">Cras quis felis vel nulla  elementum sed et justo. Vestibulum at dolor quis lorem ut lectus eleifend aliquet. Pellentesque vitae elit rutrum felis vel nulla ultricies elementum sed et justo. Vestibulum at dolor quis lorem mattis dapibus sed nec sapien. Etiam luctus ut lectus eleifend aliquet. Pellentesque vitae elit rutrum.</p>
                            <button>
                                <a href="">
                                    <div class="burgundybutton">
                                        Cras quis vel
                                    </div>  
                                </a>
                            </button>
                        </div>
                        <div class="pb-40 px-2">
                            <div class="title-3 text-burgundy pb-10">
                                Engage the University
                            </div>
                            <p class="body-text-1 text-navy pb-6">Cras quis felis vel nulla ultricies elementum sed et justo. Vestibulum at dolor quis lorem ut lectus eleifend aliquet. Pellentesque vitae elit rutrum felis vel nulla ultricies elementum sed et justo. Vestibulum at dolor quis lorem mattis dapibus sed nec sapien. Etiam luctus ut lectus eleifend aliquet. Pellentesque vitae elit rutrum.</p>
                            <button>
                                <a href="">
                                    <div class="burgundybutton">
                                        Cras quis vel
                                    </div>  
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="b3imagecontainer" class="w-1/2 lg:w-[55%] absolute top-0 right-0">
                    {% image page.banner_3_feature_image width-6000 as b3i %}
                    <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('{{ b3i.url }}');">

                    </div>
                    <div class="absolute inset-0 z-10 bg-navy opacity-[0.5]">

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="w-full bg-navy p-6 sm:p-10">

            <div class="pb-10 relative flex">
                <h1 class="title-2 text-white">What we offer</h1>
                <img class="absolute left-[0%] top-[23%] w-[100%]" src="{% static 'stroke3.svg' %}" alt="">
            </div>

            <div class="p-6 sm:p-10">
                {% for block in page.offerings %}
                    <div class="flex items-center justify-center pb-10">

                        {% if forloop.counter0|divisibleby:"2" %}
                            <div class="w-[25rem] px-4">
                                {% image block.value.photo width-1000 as bph %}
                                <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="w-[25rem] h-[25rem] bg-cover bg-center rounded-full" style="background-image: url('{{ bph.url }}');"></div>
                            </div>
                        {% endif %}


                        <div class="px-10 w-[40rem] {% if not forloop.counter0|divisibleby:"2" %}text-right{% endif %}">
                            <h1 class="title-3 text-white pb-6">{{ block.value.title }}</h1>
                            <div class="text-white body-text-1 pb-6">{{ block.value.description }}</div>

                            <button>
                                <a href="{{ block.value.button_link }}">
                                    <div class="whitebutton">
                                        {{ block.value.button_text }}
                                    </div>  
                                </a>
                            </button>
                        </div>

                        {% if not forloop.counter0|divisibleby:"2" %}
                            <div class="w-[25rem]px-4">
                                {% image block.value.photo width-1000 as bph %}
                                <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="w-[25rem] h-[25rem] bg-cover bg-center rounded-full" style="background-image: url('{{ bph.url }}');"></div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>



    <section>
        <div class="bg-navy p-6 sm:p-10">
            <h1 class="text-white title-2 text-right pt-10 pb-10">...and much more.</h1>
        </div>
    </section>

    <section>
        <div class="w-full h-[50rem] bg-navy relative">
            <div class="main-carousel w-full h-[50rem] px-2">
                {% for block in page.houseSlides %}
                    {% with l1=forloop.counter0|add:"-1" l2=forloop.counter0|add:"-2" l3=forloop.counter0|add:"-3" l4=forloop.counter0|add:"-4" %}
                        {% image block.value width-2000 as bph %}
                        <div class="carousel-cell w-1/3 xl:w-1/4 h-[50rem] p-2 rounded-lg mb-[5rem]" >
                            <div class="w-full h-full rounded-lg bg-cover bg-center 
                            {% if forloop.counter0|divisibleby:"5" %} 
                                translate-y-[5rem] 
                            {% elif l1|divisibleby:"5" %} 
                                translate-y-[1rem] 
                            {% elif l2|divisibleby:"5" %} 
                                translate-y-[3.5rem] 
                            {% elif l3|divisibleby:"5" %} 
                                translate-y-[0rem] 
                            {% elif l4|divisibleby:"5" %} 
                                translate-y-[2.5rem] 
                            {% endif %}" 
                            style="background-image: url('{{ bph.url }}');">
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="pt-[10rem] bg-navy">
        <div class="w-full relative">
            {% image page.east_campus_map width-2500 as ecm %}
            <a href="https://maps.google.com">
                <img class="w-full" src="{{ ecm.url }}" alt="">
            </a>

            <div class="w-1/2 h-full opacity-[0.85] bg-burgundy absolute top-0 left-0">
            </div>
            <div class="w-5/12 h-full absolute top-0 left-0 p-6 sm:p-10 flex items-center">
                <div>
                    <h2 class="text-white title-2 pb-6">A home away from home.</h2>

                    <p class="text-white body-text-1 pb-6">Fusce elit massa, vehicula nec nulla eu, congue fringilla est. Donec suscipit pretium sem, sed fringilla felis interdum in. Suspendisse vitae sodales eros.</p>

                    <button>
                        <a href="">
                            <div class="whitebutton">
                                Visit us
                            </div>  
                        </a>
                    </button>
                </div>
            </div>

            <div class="w-[4rem] h-[4rem] rounded-full bg-transparent border-4 border-white absolute left-[83.8%] top-[52.5%]"></div>
            <h2 class="absolute left-[86.6%] top-[65%] translate-x-[-50%] font-serif text-lg font-bold italic text-navy bg-rose px-1">That's us!</h2>
            
            <h2 class="absolute left-[67%] top-[68%] font-serif text-lg font-bold italic text-navy bg-rose px-1">Marketplace</h2>
            <h2 class="absolute left-[60.7%] top-[28.5%]  font-serif text-lg font-bold italic text-navy bg-rose px-1">Baldwin Auditorium</h2>
        </div>
    </section>

    <section class="">
        <div class="w-full bg-white p-6 sm:p-10">
            <div class="w-2/3 lg:w-1/2 mx-auto">
                {% include 'home/_partials/events.html' %}
            </div>
        </div>
    </section>
    
{% endblock content %}

{% block extra_js %}
    <script>
        var elem = document.querySelector('.main-carousel');
        var flkty = new Flickity( elem, {
            // options
            cellAlign: 'left',
            contain: true,
            autoPlay: 3000,
            wrapAround: true,
            lazyLoad: true,
            draggable: false,
            prevNextButtons: false,
            pageDots: false,
        });
    </script>

    <script>
        var h0 = window.innerHeight;

        var elem = document.getElementById('b3imagecontainer');
        var textelem = document.getElementById('b3textcontainer');

        elem.style.height = String(h0 + 100) + "px";

        window.onscroll = function() {
            var h1 = textelem.getBoundingClientRect().top;
            var h2 = textelem.getBoundingClientRect().bottom - h0;

            if ((h1 + 52 <= 0) & (h2 + 35 > 0)) {
                elem.classList.remove("absolute");
                elem.classList.add("fixed");
                elem.classList.add("top-0");
                elem.classList.add("translate-y-[-95px]");
            }

            if (h2 + 35 <= 0) {
                elem.classList.add("absolute");
                elem.classList.remove("fixed");
                elem.classList.remove("top-0");
                elem.classList.add("bottom-0");
                elem.classList.remove("translate-y-[-95px]");

            }

            if (h1 + 52 > 0) {
                elem.classList.add("absolute");
                elem.classList.remove("fixed");
                elem.classList.remove("bottom-0");
                elem.classList.add("top-0");
                elem.classList.remove("translate-y-[-95px]");

            }
        }
    </script>
{% endblock %}