{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
    <section class="px-6 pt-40 pb-6 sm:px-10 sm:pb-10">
        <div class="max-w-screen-lg mx-auto">
            <div class="pb-32">
                <h1 class="text-navy title-1">{{ page.title }}</h1>
            </div>

            <div class="pb-20">
                <h1 class="pb-20 title-2 text-navy">Our Staff</h1>

                {% for staffmember in page.get_children.specific.all %}
                    {% if staffmember.type == 'staff' %}
                        <div class="mb-20">
                            <div class="flex items-center">
                                {% image staffmember.photo width-2000 as smp %}
                                <div class="w-[20rem] min-w-[20rem] mr-6">
                                    <div class="w-[20rem] h-[20rem] rounded-full bg-cover bg-center" style="background-image: url('{{ smp.url }}');">

                                    </div>
                                </div>

                                <div>
                                    <div class="mb-6">
                                        <h2 class="title-3">{{ staffmember.name|richtext }}</h2>
                                        <div class="title-4">{{ staffmember.job_title|richtext }}</div>
                                    </div>
                                    
                                    <div class="body-text-1">{{ staffmember.description|richtext }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <h1 class="pb-20 title-2 text-navy">Our Board of Directors</h1>

                {% for staffmember in page.get_children.specific.all %}
                    {% if staffmember.type == 'boardOfDirectors' %}
                        <div class="mb-20">
                            <div class="flex items-center">
                                {% image staffmember.photo width-2000 as smp %}
                                <div class="w-[15rem] min-w-[15rem] mr-6">
                                    <div class="w-[15rem] h-[15rem] rounded-full bg-cover bg-center" style="background-image: url('{{ smp.url }}');">

                                    </div>
                                </div>

                                <div>
                                    <div class="mb-6">
                                        <h2 class="title-3">{{ staffmember.name|richtext }}</h2>
                                        <div class="title-4">{{ staffmember.job_title|richtext }}</div>
                                    </div>
                                    
                                    <div class="body-text-1">{{ staffmember.description|richtext }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <h1 class="pb-20 title-2 text-navy">Our Faculty Advisory Council</h1>

                {% for staffmember in page.get_children.specific.all %}
                    {% if staffmember.type == 'advisoryCouncil' %}
                        <div class="mb-20">
                            <div class="flex items-center">
                                {% image staffmember.photo width-2000 as smp %}
                                <div class="w-[15rem] min-w-[15rem] mr-6">
                                    <div class="w-[15rem] h-[15rem] rounded-full bg-cover bg-center" style="background-image: url('{{ smp.url }}');">

                                    </div>
                                </div>

                                <div>
                                    <div class="mb-6">
                                        <h2 class="title-3">{{ staffmember.name|richtext }}</h2>
                                        <div class="title-4">{{ staffmember.job_title|richtext }}</div>
                                    </div>
                                    
                                    <div class="body-text-1">{{ staffmember.description|richtext }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>


        </div>
    </section>
{% endblock %}