{% extends "feature_page.html" %}

{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block extra_bottom_content %}
    <section class="p-6 sm:px-10 sm:pb-10">
   
        <div class="w-full">
            <div class="title-1 pb-16">
                Our Spring 2023 Reading Groups
            </div>
            {% for course in page.get_children.specific.live %}
                <div class="title-3 pb-4">
                    {{ course.title }}
                </div>
                <div class="body-text-1 pb-4">
                    {{ course.description|richtext }}
                </div>
                <button class="pb-10">
                    <a href="{{ course.url }}">
                        <div class="navybutton">
                            Learn more
                        </div>
                    </a>
                </button>
                
            {% endfor %}
        </div>
    </section>
{% endblock %}
