{% extends "feature_page.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block extra_bottom_content %}
    <section class="section-wrapper">
        <div class="max-w-screen-2xl mx-auto">
            <div class="bg-rose card-wrapper rounded-lg text-navy">
                <div class="title-3 pb-2">
                    Place: <a class="underline" href="/house">CCS House</a> 
                </div>
                <div class="title-3">
                    Time: Wednesdays at 5:30pm
                </div>
            </div>
        </div>


        
    </section>
    
{% endblock %}