{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="bg-navy">
        <section class="px-6 pt-40 pb-6 sm:px-10 sm:pb-10">
            <div class="max-w-screen-2xl mx-auto">
                <div class="pb-12">
                    <h1 class="text-white title-1">{{ page.title }}</h1>
                </div>
            </div>
        </section>

        <section>
            <div class="w-full p-6 sm:p-10">
                <div class="sm:flex py-10">
                    <div class="w-full sm:w-1/2 mb-16 sm:mb-0">
                        {% image page.mission_image width-2000 as b2i %}
                        <div class="relative px-10">
                            <img class="relative z-10" src="{{ b2i.url }}" alt="">
                            <div class="absolute inset-x-10 inset-y-0 bg-rose z-0 translate-x-[-1rem] translate-y-[1rem]"></div>
                        </div>
                    </div>

                    <div class="w-full sm:w-1/2">
                        <h1 class="pb-6 font-serif text-5xl italic font-bold text-white">{{ page.mission_header }}</h1>
                        <div class="pb-6 text-white body-text-1">
                            {{ page.mission_text|richtext }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    

    <section>
        <div class="bg-white">
            <div class="relative sm:flex">
                <div class="w-full sm:w-1/2 lg:w-[45%] p-6 md:p-10 overflow-hidden">
                    <div id="b3textcontainer" class="">
                        <h1 class="pt-10 pb-40 title-2 text-navy">{{ page.values_header }}</h1>

                        {% for item in page.beliefs %}
                            <div class="px-2 pb-20">
                                <div class="pb-10 title-4 text-navy">
                                    {{ item.value.text }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="b3imagecontainer" class="hidden sm:block w-1/2 lg:w-[55%] absolute top-0 right-0">
                    {% image page.values_image width-6000 as b3i %}
                    <div class="absolute inset-0 bg-center bg-cover" style="background-image: url('{{ b3i.url }}');">

                    </div>
                    <div class="absolute inset-0 z-10 bg-navy opacity-[0.5]">

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block extra_js %}
    <script>
        var elem = document.querySelector('.main-carousel');
        var flkty = new Flickity( elem, {
            // options
            cellAlign: 'left',
            contain: true,
            autoPlay: 3000,
            wrapAround: true,
            lazyLoad: true,
            draggable: false,
            prevNextButtons: false,
            pageDots: false,
        });
    </script>

    <script>
        var h0 = window.innerHeight;

        var elem = document.getElementById('b3imagecontainer');
        var textelem = document.getElementById('b3textcontainer');

        elem.style.height = String(h0 + 100) + "px";

        window.onscroll = function() {
            var h1 = textelem.getBoundingClientRect().top;
            var h2 = textelem.getBoundingClientRect().bottom - h0;

            if ((h1 + 52 <= 0) & (h2 + 35 > 0)) {
                elem.classList.remove("absolute");
                elem.classList.add("fixed");
                elem.classList.add("top-0");
                elem.classList.add("translate-y-[-95px]");
            }

            if (h2 + 35 <= 0) {
                elem.classList.add("absolute");
                elem.classList.remove("fixed");
                elem.classList.remove("top-0");
                elem.classList.add("bottom-0");
                elem.classList.remove("translate-y-[-95px]");

            }

            if (h1 + 52 > 0) {
                elem.classList.add("absolute");
                elem.classList.remove("fixed");
                elem.classList.remove("bottom-0");
                elem.classList.add("top-0");
                elem.classList.remove("translate-y-[-95px]");

            }
        }
    </script>
{% endblock %}