# With components from https://www.gitignore.io
# Project Settings
ccs/settings/*


# Database
db.sqlite3

# Local Virtual Environment Files
venv/
venv/* 

# Vue

vue/
vue/* 


### MacOS ###


.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###

*.log
*.pot
*.pyc
__pycache__/
local_settings.py