<footer>
    <div class="w-full p-6 bg-navy sm:px-10 sm:py-20 ">
        <div class="mx-auto max-w-screen-2xl">
            <div class="md:flex">
                <div class="mr-10 md:w-5/12">
                    <div class="pb-10">
                        <div class="pb-6 font-serif text-3xl italic font-bold text-white">
                            Center for Christianity <br> and Scholarship
                        </div>
                        <div class="pb-6 text-white body-text-1 lg:w-3/4">
                            We believe that Christian intellectual exploration & imagination yield abundant life. 
                        </div>
                    </div>

                    <div class="pb-10 mt-4">
                        <h2 class="pb-6 italic text-white title-4">Join our email list</h2>
                        <newsletter-signup></newsletter-signup>
                    </div>
    
                    <div class="mt-10">
                        <a href="/house">
                            <div class="mb-4 text-white title-4">CCS House →</div>
                        </a>
    
                        <p class="text-white text-md whitespace-nowrap">608 N. Buchanan Blvd</p>
                        <p class="mb-2 text-white text-md">Durham, NC 27701</p>
    
                        <p class="text-white text-md whitespace-nowrap">Monday-Thursday 10am - 10pm</p>
                        <p class="text-white text-md whitespace-nowrap">Friday 10am - 5pm</p>
                    </div>

                    
    
                    

                    

    
                </div>
                <div class="md:flex md:flex-col md:justify-between md:w-7/12 md:ml-10">
    
                    <div class="flex flex-wrap">

                        <div class="mr-2 lg:mr-4 md:min-h-[15rem] w-full md:w-[45%] lg:w-[30%] flex md:block">
                            <h1 class="w-1/2 mb-6 text-white md:w-auto title-4">About</h1>
    
                            <div class="w-1/2 md:w-auto">
                                <h4 class="text-white text-md whitespace-nowrap">Who We Are</h4>
                                <h4 class="text-white text-md whitespace-nowrap">House</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Leadership</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Faculty Affiliates</h4>
                            </div>
                        </div>

                        <div class="mr-2 lg:mr-4 md:min-h-[15rem] w-full md:w-[45%] lg:w-[30%] flex md:block">
                            <h1 class="w-1/2 mb-6 text-white md:w-auto title-4">Events</h1>
    
                            <div>
                                <h4 class="text-white text-md whitespace-nowrap">Courses</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Reading Groups</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Weekly Meal</h4>
                                <h4 class="text-white text-md">Lectures</h4>
                                <h4 class="mr-4 text-white text-md">Conferences</h4>
                            </div>
                        </div>
                        
                        <!-- <div class="mr-2 lg:mr-4 md:min-h-[15rem] w-full md:w-[45%] lg:w-[30%] flex md:block">
                            <h1 class="w-1/2 mb-6 text-white md:w-auto title-4">Undergrads</h1>
    
                            <div>
                                <h4 class="text-white text-md whitespace-nowrap">Incoming Students</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Certification Pathway</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Fellows Program</h4>
                            </div>
                        </div>
                        <div class="mr-2 lg:mr-4 md:min-h-[15rem] w-full md:w-[45%] lg:w-[30%] flex md:block">
                            <h1 class="w-1/2 mb-6 text-white md:w-auto title-4">Grad Students</h1>
    
                            <div>
                                <h4 class="text-white text-md whitespace-nowrap">Christian Scholars</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Scholarship Workshop</h4>
                            </div>
                        </div>
                        <div class="mr-2 lg:mr-4 md:min-h-[15rem] w-full md:w-[45%] lg:w-[30%] flex md:block">
                            <h1 class="w-1/2 mb-6 text-white md:w-auto title-4">Faculty</h1>
    
                            <div>
                                <h4 class="text-white text-md whitespace-nowrap">Triangle Roundtable</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Faculty Reading Groups</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Scholarship Workshop</h4>
                            </div>
                        </div> -->
                        <div class="mr-2 lg:mr-4 md:min-h-[15rem] w-full md:w-[45%] lg:w-[30%] flex md:block">
                            <h1 class="w-1/2 mb-6 text-white md:w-auto title-4">Support</h1>
                            
                            <div>
                                <!-- <h4 class="text-white text-md whitespace-nowrap">Continuing Education</h4> -->
                                <h4 class="text-white text-md whitespace-nowrap">Donate</h4>
                                <h4 class="text-white text-md whitespace-nowrap">Lend a hand</h4>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="">
                        <p class="text-sm text-white">Privacy Policy</p>
                        <p class="text-sm text-white">Cookie Policy</p>
                        <p class="text-sm text-white">Terms and Conditions</p>
    
                        <p class="text-sm text-white whitespace-nowrap"><a href="mailto:info@christianityandscholarship.org">info@christianityandscholarship.org</a></p>
    
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</footer>