<footer>
    <div class="w-full bg-navy p-6 sm:p-10">

        <div class="flex">
            <div class="w-1/2">
                <div class="text-3xl text-white font-bold font-serif italic pb-10">
                    Center for Christianity <br> and Scholarship
                </div>
                <div class="pb-10">
                    <p class="text-white text-lg">606 N. Buchanan Blvd</p>
                    <p class="text-white text-lg">Durham, NC 27701</p>
                </div>
                <div class="">
                    <p class="text-white text-sm">Privacy Policy</p>
                    <p class="text-white text-sm">Cookie Policy</p>
                    <p class="text-white text-sm">Terms and Conditions</p>
                </div>
            </div>
            <div class="w-1/2">
                <h2 class="text-white font-serif text-4xl font-bold italic pb-12">Join our email list</h2>
                <newsletter-signup></newsletter-signup>
            </div>
        </div>
    </div>
</footer>