{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

<footer>
    <div class="w-full bg-navy section-wrapper">
        <div class="mx-auto max-w-screen-2xl">
            <div class="md:flex">
                <div class="mr-10 md:w-5/12">
                    <div class="pb-10">
                        <div class="flex items-center pb-6">
                            <div>
                                <img class="h-16 mr-4" src="{% static 'arches_white.png' %}" alt="">
                            </div>
                            <div class="font-serif text-3xl italic font-bold text-white">
                                Center for Christianity <br> and Scholarship
                            </div>
                        </div>
                        
                        <div class="pt-10 pb-6 text-white md:pt-0 body-text-1 lg:w-3/4">
                            {{ settings.home.Footer.site_description|richtext }}
                        </div>
                    </div>



                    <div class="hidden mb-20 md:block md:pt-10 sm:pb-0">
                        <a href="{{ settings.home.Footer.ccs_house_header_link.url }}">
                            <div class="mb-4 font-serif text-xl font-bold text-white sm:text-2xl">{{ settings.home.Footer.ccs_house_header_text }}</div>
                        </a>

                        <div class="mb-2">
                            {% for line in settings.home.Footer.address %}
                                <div class="text-lg text-white whitespace-nowrap">{{ line.value }}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="mb-2">
                            {% for line in settings.home.Footer.house_hours %}
                                <div class="text-lg text-white whitespace-nowrap">{{ line.value }}</div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="hidden py-10 md:block sm:py-0">
                        <div class="text-sm text-white whitespace-nowrap"><a href="mailto:info@christianityandscholarship.org">info@christianityandscholarship.org</a></div>
                    </div>







                </div>
                <div class="md:flex md:flex-col md:justify-between md:w-7/12 md:ml-10">

                    <div class="flex flex-wrap">

                        {% for category in settings.home.Footer.footer_links %}
                            <div class="mb-6 md:mb-0 mr-2 lg:mr-4 md:min-h-[15rem] w-full md:w-[45%] lg:w-[30%] flex md:block">
                                <h1 class="w-1/2 mb-6 font-serif text-xl font-bold text-white md:w-auto sm:text-2xl text-rose">{{ category.value.category_name }}</h1>
                                
                                <div class="w-1/2 md:w-auto">
                                    {% for link in category.value.category_links %}
                                        <a href="{% if link.block_type == 'internal_link' %}{{ link.value.link_reference.url }}{% else %}{{ link.value.link_reference }}{% endif %}">
                                            <h4 class="text-lg text-white whitespace-nowrap">{{ link.value.link_text }}</h4>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="my-12 md:hidden md:pt-10 sm:pb-0">
                        <a href="{{ settings.home.Footer.ccs_house_header_link.url }}">
                            <div class="mb-4 font-serif text-xl font-bold text-white sm:text-2xl">{{ settings.home.Footer.ccs_house_header_text }}</div>
                        </a>

                        {% for line in settings.home.Footer.address %}
                            <div class="text-lg text-white whitespace-nowrap">{{ line.value }}</div>
                        {% endfor %}

                        <div class="mb-2">
                            {% for line in settings.home.Footer.house_hours %}
                                <div class="text-lg text-white whitespace-nowrap">{{ line.value }}</div>
                            {% endfor %}
                        </div>

                    </div>

                    <!-- <div class="py-10">
                        <h2 class="pb-6 font-serif text-xl font-bold text-white sm:text-2xl">Join our email list</h2>
                        <newsletter-signup></newsletter-signup>
                    </div> -->



                </div>
                <div class="pt-10 md:hidden">
                    <div class="text-sm text-white whitespace-nowrap"><a href="{{ settings.home.Footer.mailto_link }}">{{ settings.home.Footer.email_address }}</a></div>
                </div>

            </div>


        </div>

    </div>
</footer>