{% load static wagtailcore_tags wagtailuserbar %}
{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/ccs.css' %}">

        {# Tailwind CSS #}
		{% tailwind_css %}

        {# AOS Library #}

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        {# Flickity #}
        
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

        {# Google Fonts #}

        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        {# Parallax #}

        <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

    </head>

    <body class="bg-white relative ">

        <div class="fixed z-[10000] bottom-10 right-10 bg-white border-rose border-4 w-[18rem] p-2">
            <div class="body-text-1 font-bold">
                ccsduke.org v.0.9.0
            </div>
            <div class="body-text-1 font-bold">
                For testing and review only - don't share this link yet! 
            </div>
        </div>

        <div id="app">

            <global-menu></global-menu>

            {% if page.title == 'Home' or page.title == 'Who We Are' or page.title == 'Leadership' %}
                <global-header lighttop="No"></global-header>
            {% else %}
                <global-header lighttop="Yes"></global-header> 
            {% endif %}
            

            {% block content %}
            {% endblock %}
        
            {% include '_partials/footer.html' %}

        </div>


        {# VUE Files #}

        <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/ccs.js' %}"></script>

        {# AOS Initialization #}

        <script>AOS.init();</script>

        {# Flickity #}

        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

        

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
