{% load static wagtailcore_tags wagtailuserbar %}
{% load static tailwind_tags %}
{% load static %}
{% load replace %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-CY3RL13CHE"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'G-CY3RL13CHE');
        </script>

        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/ccs.css' %}">

        {# Tailwind CSS #}
		{% tailwind_css %}

        {# AOS Library #}

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        {# Flickity #}
        
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

        {# Google Fonts #}

        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        {# Parallax #}

        <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

    </head>

    <body class="relative bg-white ">

        <div id="app">
            <global-menu></global-menu>

            {% include '_partials/header.html' %}

            {% include '_partials/menu.html' %}


            {% block content %}
            {% endblock %}
        
            {% include '_partials/footer.html' %}
        </div>


        {# VUE Files #}
        <!-- <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script> -->

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/ccs.js' %}"></script>

        {# AOS Initialization #}

        <script>AOS.init();</script>

        {# Flickity #}
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
