{% extends "base.html" %}

{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

    {% block extra_top_content %}
    {% endblock %}

    <section class="px-6 pt-40 pb-6 sm:px-10 sm:pb-16">
        <div class="max-w-screen-2xl mx-auto">
            <div class="max-w-screen-2xl mx-auto">
                <div class="pb-10 sm:pb-32">
                    <h1 class="text-navy title-1">{% block header_content %}{{ page.title }}{% endblock %}</h1>
                </div>
            </div>
    
    
            <div class="sm:flex">

                <div class="sm:hidden w-full sm:w-[55%] md:w-[60%] mb-16 sm:mb-0">
                    {% image page.feature_image width-2000 as fi %}
                    <div class="relative px-2">
                        <div class="relative z-10 bg-right bg-cover h-[40rem] lg:h-[50rem] w-full" style="background-image: url('{{ fi.url }}');">

                        </div>
                        <div class="absolute inset-x-2 inset-y-0 bg-olive z-0 translate-x-[-1rem] translate-y-[1rem]"></div>
                    </div>
                </div>
    
                <div class="sm:w-[45%] md:w-[40%] pr-4">
                    <div class="title-2 pb-6">
                        {{ page.header_text }}
                    </div>
                    <div class="body-text-1">
                        {{ page.descriptive_text|richtext }}
                    </div>
                </div>
    
                <div class="hidden sm:block w-full sm:w-[55%] md:w-[60%] mb-16 sm:mb-0">
                    {% image page.feature_image width-2000 as fi %}
                    <div class="relative px-10">
                        <div class="relative z-10 bg-right bg-cover h-[40rem] lg:h-[50rem] w-full" style="background-image: url('{{ fi.url }}');">

                        </div>
                        <div class="absolute inset-x-10 inset-y-0 bg-olive z-0 translate-x-[-1rem] translate-y-[1rem]"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% block extra_bottom_content %}
    {% endblock %}
    
{% endblock %}