{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="px-6 py-40 sm:px-10">
	<div class="sm:flex">
		<div class="sm:w-1/2 sm:pr-20">
			<h1 class="pb-10 title-1">Give</h1>

			<p class="body-text-1">“Having a space in which students of faith can be wholly true to their beliefs and wholly committed to the pursuit of knowledge has been immensely important for my walk with Christ. The mentorship that happens as a direct result of these programs has been such a meaningful part of my entire Duke experience.”</p>
			<p class="body-text-1">– Carter Duncan, ’17</p>
		</div>
		<div class="sm:w-1/2">


			<form class="" id="payment-form">
				{% csrf_token %}

				
				<div id="initial-container" class="overflow-hidden flex flex-col justify h-[20rem] transition-all ease-in-out duration-500 transform">
					
					<div class="font-bold title-4">
						Make a One-Time Donation
					</div>
					
					
					<div class="flex justify-center w-full py-10">
						<div id="donate1">
							<div class="navybutton w-[5rem] mx-2 text-center">
								$10
							</div>
						</div>
						<div id="donate2">
							<div class="navybutton w-[5rem] mx-2 text-center">
								$25
							</div>
						</div>
						<div id="donate3">
							<div class="navybutton w-[5rem] mx-2 text-center">
								$50
							</div>
						</div>
					</div>
	
					<input id="price-box" class="w-full mb-4 border-2 rounded-md border-navy" type="text" placeholder="Other Amount">
	
					<div class="text-center checkoutbuttonpre" id="amount-selector-submit-button">
						<div class="hidden spinner" id="spinner"></div>
						<span id="button-text" class="text-lg font-bold text-white">Donate</span>
					  </div>
				</div>
				




				<div id="price-label-container" class="justify-end hidden font-serif text-xl italic font-bold">
					
					<div>
						One Time Donation: $<span id="donation-amount-container"></span>
					</div>
				</div>






				<div id="link-authentication-element"></div>
				<div class="transition-all duration-500 ease-in-out transform" id="payment-element"></div>
				<button class="hidden checkoutbutton" id="submit">
					  <div class="hidden spinner" id="spinner"></div>
					<span id="button-text" class="text-lg font-bold text-white">Confirm</span>
		
				</button>
				<div id="payment-message" class="hidden"></div>
			  </form>


			  
		</div>
	</div>
  	
</div>
  
{% endblock %}

{% block extra_js %}
  	<script src="https://js.stripe.com/v3/"></script>

  	<script>
    	let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

		let elements;

		

		document.querySelector("#submit").addEventListener("click", handleSubmit);
		document.querySelector("#amount-selector-submit-button").addEventListener("click", runDonationProcess);
		
		document.querySelector("#donate1").addEventListener("click", preset1);
		document.querySelector("#donate2").addEventListener("click", preset2);
		document.querySelector("#donate3").addEventListener("click", preset3);

		async function preset1() {
			document.querySelector("#price-box").value = 10;
		}
		async function preset2() {
			document.querySelector("#price-box").value = 25;
		}
		async function preset3() {
			document.querySelector("#price-box").value = 50;
		}

		async function runDonationProcess() {

			document.querySelector("#initial-container").classList.remove('h-[20rem]');
			document.querySelector("#initial-container").classList.add('h-0');


			document.querySelector("#donation-amount-container").innerHTML = String(document.querySelector("#price-box").value);

			setTimeout(function() {
				document.querySelector("#submit").classList.remove("hidden");

				document.querySelector("#price-label-container").classList.remove('hidden');
				document.querySelector("#price-label-container").classList.add('flex');

				initialize();
				checkStatus();
			}, 500);

			
		}
		

		let emailAddress = '';

		// Fetches a payment intent and captures the client secret

		

		async function initialize() {
			
			const d = document.querySelector("#price-box").value;

			const response = await fetch("/create-payment-intent/"+String(d) + "/", {
				method: "POST",
				headers: { 
					"Content-Type": "application/json",
					"X-CSRFToken": csrftoken,
				},
			});

		
			const  { clientSecret } = await response.json();
		
			const appearance = {
				theme: 'stripe',
			};

			elements = stripe.elements({ appearance, clientSecret });


			const linkAuthenticationElement = elements.create("linkAuthentication");
			linkAuthenticationElement.mount("#link-authentication-element");

			linkAuthenticationElement.on('change', (event) => {
				emailAddress = event.value.email;
			});

			const paymentElementOptions = {
				layout: "tabs",
			};

			const paymentElement = elements.create("payment", paymentElementOptions);
			paymentElement.mount("#payment-element");

		}

		async function handleSubmit(e) {
			e.preventDefault();
			setLoading(true);

			const { error } = await stripe.confirmPayment({
				elements,
				confirmParams: {
				return_url: "http://localhost:8000/give/success",
				receipt_email: emailAddress,
				},
			});

			if (error.type === "card_error" || error.type === "validation_error") {
				showMessage(error.message);
			} else {
				showMessage("An unexpected error occurred.");
			}

			setLoading(false);

		}

		// Fetches the payment intent status after payment submission

		async function checkStatus() {
			const clientSecret = new URLSearchParams(window.location.search).get(
				"payment_intent_client_secret"
			);

			if (!clientSecret) {
				return;
			}

			const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

			switch (paymentIntent.status) {
				case "succeeded":
				showMessage("Payment succeeded!");
				break;
				case "processing":
				showMessage("Your payment is processing.");
				break;
				case "requires_payment_method":
				showMessage("Your payment was not successful, please try again.");
				break;
				default:
				showMessage("Something went wrong.");
				break;
			}

		}

		// ------- UI helpers -------

		function showMessage(messageText) {
			const messageContainer = document.querySelector("#payment-message");

			messageContainer.classList.remove("hidden");
			messageContainer.textContent = messageText;

			setTimeout(function () {
				messageContainer.classList.add("hidden");
				messageText.textContent = "";
			}, 4000);

		}

		// Show a spinner on payment submission
		function setLoading(isLoading) {

			if (isLoading) {
				// Disable the button and show a spinner
				document.querySelector("#submit").disabled = true;
				document.querySelector("#spinner").classList.remove("hidden");
				document.querySelector("#button-text").classList.add("hidden");
			} else {
				document.querySelector("#submit").disabled = false;
				document.querySelector("#spinner").classList.add("hidden");
				document.querySelector("#button-text").classList.remove("hidden");
			}

		}
	
	
	
	
	
	</script>

{% endblock %}

{% block extra_css %}
	<style>
		/* Variables */
		* {
			box-sizing: border-box;
		}
	
	
		form {
			width: 30vw;
			min-width: 500px;
			align-self: center;
			box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
			0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
			border-radius: 7px;
			padding: 40px;
		}

		.formappear {
			width: 30vw;
			min-width: 500px;
			align-self: center;
			box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
			0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
			border-radius: 7px;
			padding: 40px;
		}

		.checkoutbuttonpre {
			background: #15182f;
			color: #ffffff;
			border-radius: 4px;
			border: 0;
			padding: 12px 16px;
			font-size: 16px;
			font-weight: 600;
			cursor: pointer;
			display: block;
			transition: all 0.2s ease;
			box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
			width: 100%;
		}

		.checkoutbutton {
			background: #15182f;
			color: #ffffff;
			border-radius: 4px;
			border: 0;
			padding: 12px 16px;
			font-size: 16px;
			font-weight: 600;
			cursor: pointer;
			display: block;
			transition: all 0.2s ease;
			box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
			width: 100%;
		}
		
		
		#payment-message {
			color: rgb(105, 115, 134);
			font-size: 16px;
			line-height: 20px;
			padding-top: 12px;
			text-align: center;
		}
		
		#payment-element {
			margin-bottom: 24px;
		}
		
		/* Buttons and links */
		
		button:hover {
			filter: contrast(115%);
		}
		button:disabled {
			opacity: 0.5;
			cursor: default;
		}
		
		/* spinner/processing state, errors */
		.spinner,
		.spinner:before,
		.spinner:after {
			border-radius: 50%;
		}

		.hidden {
			display: none;
		}

		.spinner {
			color: #ffffff;
			font-size: 22px;
			text-indent: -99999px;
			margin: 0px auto;
			position: relative;
			width: 20px;
			height: 20px;
			box-shadow: inset 0 0 0 2px;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
		}
		.spinner:before,
		.spinner:after {
			position: absolute;
			content: "";
		}
		.spinner:before {
			width: 10.4px;
			height: 20.4px;
			background: #5469d4;
			border-radius: 20.4px 0 0 20.4px;
			top: -0.2px;
			left: -0.2px;
			-webkit-transform-origin: 10.4px 10.2px;
			transform-origin: 10.4px 10.2px;
			-webkit-animation: loading 2s infinite ease 1.5s;
			animation: loading 2s infinite ease 1.5s;
		}
		.spinner:after {
			width: 10.4px;
			height: 10.2px;
			background: #5469d4;
			border-radius: 0 10.2px 10.2px 0;
			top: -0.1px;
			left: 10.2px;
			-webkit-transform-origin: 0px 10.2px;
			transform-origin: 0px 10.2px;
			-webkit-animation: loading 2s infinite ease;
			animation: loading 2s infinite ease;
		}
		
		@-webkit-keyframes loading {
			0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
			}
			100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}
		@keyframes loading {
			0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
			}
			100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}
		
		@media only screen and (max-width: 600px) {
			form {
				width: 80vw;
				min-width: initial;
			}
		}
	</style>
{% endblock %}










  













