{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="giving-page-container" class="pt-40 sm:px-10 bg-white">
	<div class="max-w-screen-2xl mx-auto">
		

		<div class="items-start sm:pb-20 relative">
			<div class="sm:pr-10 px-6 sm:px-0">

				<div class="sm:flex mb-10">
					<div class="mr-6">
						<h1 class="pb-10 title-1">Give</h1>
						<h3 class="title-3 text-navy pb-20">Your contribution helps us <span class="text-rose">enrich the intellectual lives</span>  of Christians at Duke.</h3>
					</div>
					

					<div class="w-full sm:ml-6">
						{% include "give/_partials/paymentflow.html" %}
					</div>
				</div>
				



				

				<div class="relative w-full rounded-lg sm:grid grid-cols-2 lg:grid-cols-3 overflow-hidden bg-rose mb-10">
					<div class="bg-cover bg-center w-full sm:w-auto h-[20rem] sm:h-auto" style="background-image: url('{% static "learn.jpg" %}');"></div>

					<div class="px-6 md:px-10 py-10 md:py-20 col-span-1 lg:col-span-2">
						<p class="text-lg sm:text-xl lg:text-2xl pb-4">“Having a space in which students of faith can be wholly true to their beliefs and wholly committed to the pursuit of knowledge has been immensely important for my walk with Christ. The mentorship that happens as a direct result of these programs has been such a meaningful part of my entire Duke experience.”</p>
						<p class="text-lg sm:text-xl lg:text-2xl font-bold">Carter Duncan, ’17</p>
					</div>
				</div>

				<div class="relative w-full rounded-lg sm:grid grid-cols-2 lg:grid-cols-3 overflow-hidden bg-rose mb-10">
					<div class="bg-cover bg-center w-full sm:w-auto h-[20rem] sm:h-auto" style="background-image: url('{% static "give.jpeg" %}');"></div>

					<div class="px-6 md:px-10 py-10 md:py-20 col-span-1 lg:col-span-2">
						<p class="text-lg sm:text-xl lg:text-2xl pb-4">"It's strange to imagine a life at Duke for me without the Center for Christianity and Scholarship and all of the friends and mentors whom I've come to cherish there.”</p>
						<p class="text-lg sm:text-xl lg:text-2xl font-bold">Lizzie Bond, ’21</p>
					</div>
				</div>

				<div class="relative w-full rounded-lg sm:grid grid-cols-2 lg:grid-cols-3 overflow-hidden bg-rose mb-10">
					<div class="bg-cover bg-center w-full sm:w-auto h-[20rem] sm:h-auto" style="background-image: url('{% static "game.jpeg" %}');"></div>

					<div class="px-6 md:px-10 py-10 md:py-20 col-span-1 lg:col-span-2">
						<p class="text-lg sm:text-xl lg:text-2xl pb-4">"My faith is much richer because of being a Fellow at CCS. I found that CCS offered something very different from campus ministries, proving Christian fellowship at Duke to be much more expansive than I anticipated.”</p>
						<p class="text-lg sm:text-xl lg:text-2xl font-bold">Sebastian Borda, ’20</p>
					</div>
				</div>

			</div>
			
		</div>

		
	</div>
	

</div>



<div class="p-6 sm:p-10 bg-cover bg-center relative" style="background-image: url('{% static "os.jpg" %}');">
	<div class="max-w-screen-2xl mx-auto">
		<div class="absolute inset-0 z-10 bg-navy opacity-[0.6]"></div>

		<div class="relative z-20 pb-10 lg:pb-20">
			<h2 class="title-3 pb-6 text-white">More giving Options</h2>
	
		</div>
		<div class="lg:flex justify-center pb-16">
			<!--
			<div class="lg:w-[25rem] mt-6 lg:pt-0 bg-white border-4 border-rose rounded-sm relative z-[20] px-6 py-10 lg:mx-2">
				<h4 class="font-bold font-serif text-lg sm:text-2xl lg:pt-6 pb-6">Make a recurring gift</h4>
				<p class="text-lg lg:text-xl">The Center for Christianity and Scholarship is a 501(c)(3) non-profit organization and is dependent upon financial support from individuals like you. The Center gained its tax-exempt status as a 501(c)(3) organization on March 7, 2013.  All donations received by the Center are tax deductible.</p>
	
				<div class="flex justify-center py-4">
					<a href="">
						<div class="navybutton">
							Set up a recurring gift
						</div>
					</a>
				</div>
			</div>
			-->
	
			<div class="lg:w-[25rem] mt-6 lg:pt-0 bg-white border-4 border-rose rounded-sm relative z-[20] px-6 py-10 lg:mx-2">
				<h4 class="font-bold font-serif text-lg sm:text-2xl lg:pt-6 pb-6">Give through Duke</h4>
				<p class="text-lg lg:text-xl">If you would like to have your gift to CCS count towards your lifetime giving at Duke and help CCS avoid the small fees charged by our online platform, please click here. You may elect to give a one-time gift or a recurring monthly, quarterly, or annual gift. Enter “Center for Christianity and Scholarship” in the “Search for an area” box and follow the prompts on the form.</p>
	
				<div class="flex justify-center py-4">
					<a href="https://gifts.duke.edu">
						<div class="navybutton">
							Give through Duke
						</div>
					</a>
				</div>
			</div>
	
			<div class="lg:w-[25rem] mt-6 lg:pt-0 bg-white border-4 border-rose rounded-sm relative z-[20] px-6 py-10 lg:mx-2">
				<h4 class="font-bold font-serif text-lg sm:text-2xl lg:pt-6 pb-6">Send a check</h4>
				<p class="text-lg lg:text-xl">Donations can be made by check to:</p>

				<p class="text-lg lg:text-xl">
					Center for Christianity and Scholarship <br>
					608 N Buchanan Blvd <br>
					Durham, NC 27701
				</p>
					
			</div>
		</div>
	</div>
	

</div>
  
{% endblock %}

{% block extra_js %}
  	<script src="https://js.stripe.com/v3/"></script>

	<script>
		let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
	</script>

	<script src="{% static 'checkout.js' %}"></script>

{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'stripestyles.css' %}">
{% endblock %}