{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
	<div id="giving-page-container" class="pt-40 section-wrapper bg-white">
		<div class="max-w-screen-2xl mx-auto">
			<div class="items-start sm:pb-20 relative">
				<div class="">
					<h1 class="pb-10 title-1 text-navy">Give</h1>

					<div class="lg:flex lg:items-center mb-10 lg:bg-navy rounded-lg overflow-hidden">
						<div class="bg-navy rounded-lg lg:rounded-none card-wrapper items-center mb-10">
							<div class="">
								<h3 class="font-black font-serif text-4xl sm:text-5xl lg:text-6xl text-rose">{{ settings.home.Give.donation_hero_text|richtext }}</h3>
							</div>
						</div>

						<div class="w-full lg:card-wrapper lg:min-w-[28rem] xl:min-w-[30rem]">
							{% include "give/_partials/paymentflow.html" %}
						</div>
					</div>
					
					{% for card in settings.home.Give.testimonials %}
						<div data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="500" class="relative w-full rounded-lg sm:grid sm:grid-cols-2 overflow-hidden bg-rose mb-10">
							{% image card.value.image width-2000 as c_img %}
							<div class="bg-cover bg-center h-[20rem] w-full sm:w-auto sm:h-auto" style="background-image: url('{{ c_img.url }}');"></div>

							<div class="card-wrapper">
								{% for item in card.value.text_side_content %}
									{% if item.block_type == 'heading' %}
										<div class="title-3 pb-4">
											{{ item }}
										</div>
									{% elif item.block_type == 'paragraph' %}
										<div class="body-text-1">
											{{ item }}
										</div>
									{% elif item.block_type == 'button' %}
										<div class="flex justify-center sm:justify-start py-4">
											<button>
												<a href="{{ item.value.button_reference }}">
													<div class="{{ card_button_code }}">
														{{ item.value.button_text }}
													</div>
												</a>
											</button>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="section-wrapper bg-cover bg-center relative" style="background-image: url('{% static "os.jpg" %}');">
		<div class="max-w-screen-2xl mx-auto">
			<div class="absolute inset-0 z-10 bg-navy opacity-[0.65]"></div>

			<div class="relative z-20 pb-10 lg:pb-20">
				<h2 class="title-3 pb-6 text-white">{{ settings.home.Give.more_options_header|richtext }}</h2>
			</div>

			<div class="lg:flex justify-center pb-16">
				{% for card in settings.home.Give.giving_options %}
					<div class="lg:w-[25rem] mt-6 lg:mx-2 bg-white border-4 border-rose rounded-lg relative z-[20] card-wrapper">
						{% for item in card.value.content %}
							{% if item.block_type == 'heading' %}
								<div class="title-3 pb-4">
									{{ item }}
								</div>
							{% elif item.block_type == 'paragraph' %}
								<div class="body-text-1 pb-4">
									{{ item }}
								</div>
							{% elif item.block_type == 'button' %}
								<div class="flex justify-center sm:justify-start pb-4">
									<button>
										<a href="{{ item.value.button_reference }}">
											<div class="navybutton">
												{{ item.value.button_text }}
											</div>
										</a>
									</button>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
  	<script src="https://js.stripe.com/v3/"></script>

	<script>
		let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
	</script>

	<script src="{% static 'checkout.js' %}"></script>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'stripestyles.css' %}">
{% endblock %}